* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1f1f2f;
    text-align: center;
}

h1 {
    width: auto;
    text-align: center;
    margin-top: 10px;
    background-color: #4c495f;
    padding: 10px;
    font-size: 3.5rem;
    color: rgb(202, 202, 202);
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.384);
}

.info-board {
    margin-top: 10px;
    color: rgb(116, 105, 91);
    font-size: 1.7rem;
}

.info-board>p:nth-child(2) {
    font-size: 1.2rem;
    color: rgb(150, 134, 134);
}

.info-board>button {
    padding: 5px;
    margin: 0 60px;
    border: none;
    border-radius: 5px;
    background-color: #945b9400;
    color: #cacaca;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.356);
}

.gameboard {
    --width: 350px;
    margin: 20px auto;

    width: var(--width);
    height: var(--width);
    box-shadow: 0px 0px 8px black;
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gameboard>* {
    box-sizing: border-box;
}

.square {
    text-align: center;
    font-size: 4rem;
    padding-top: 15px;
    color: rgb(116, 105, 91);
}